* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background-color-button-tierra: #804000;
  --background-color-button-tierra-hover: #804000c2;
  --background-color-button-tijeras: #ff0000;
  --background-color-button-tijeras-hover: #ff0000ad;
  --background-color-button-papel: #77b5fe;
  --background-color-button-papel-hover: #77b6feb6;
  --font-color: #fff;
  --font-color-hover: rgba(255, 255, 255, 0.705);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.screen {
  height: 90vh;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  box-sizing: border-box;
}
.screen p {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.controls {
  position: fixed;
  bottom: 1%;
}
.controls button {
  padding: 1.25em;
  border: none;
  border-radius: 5%;
  margin-left: 1.25em;
}
.piedra {
  background: var(--background-color-button-tierra);
  color: var(--font-color);
}

.tijera {
  background: var(--background-color-button-tijeras);
  color: var(--font-color);
}
.papel {
  background: var(--background-color-button-papel);
}
.piedra:hover {
  background: var(--background-color-button-tierra-hover);
}
.tijera:hover {
  background: var(--background-color-button-tijeras-hover);
}
.papel:hover {
  background: var(--background-color-button-papel-hover);
}
.mensajeFinal {
  text-align: center;
  width: 100%;
  grid-column: span 2;
  font-weight: bold;
}
.mensaje {
  text-align: center;
  width: 100%;
  grid-column: span 2;
  font-weight: bold;
  font-size: 1.25em;
}
